.sidebar3 h3{
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 30px;
}
.sidebar3{
    width: 340px;
    height: 500px;
    margin-left: 100px;
    margin-top: 130px;
}
.sidebar3 ul li{
    margin-left: 40px;
    margin-top: 20px;
    font-weight: lighter;
}
 h5{
    color: #DB4444;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.container2 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    height: 650px;
    width: 1000px; /* Adjust the width as needed */
    float: right;
    margin-right: 30px;
    margin-top: -600px; /* Float the container to the left */
}
.container2 input{
    width: 400px;
    height: 50px;
    background-color: #EDEDED;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container2::placeholder {
    margin-left: 10px;
}
/* .container2 textarea{
    width: 1200px;
    height: 280px;
    background-color: #EDEDED;
    margin-top: 30px;
    margin-left: 20px;
    border: transparent;
} */
.container2 input.password{
    width: 850px;
    height: 50px;
    background-color: #EDEDED;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.container2 button{
    float: right;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    border: transparent;
    background-color: #DB4444;
    color: white;
    margin-top: 0px;
    border-radius: 10px;
}
label{
    color: black;
    margin-left: 50px;
}
#cancel{
    background-color: transparent;
    color: black;
}
#lname label{
    margin-left:500px !important;
}
.password input{
    width: 1000px;
}
.lname{
    margin-left: 340px;
}
.address{
    margin-left: 380px;
}
