<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    REGISTER
    <div>
        <form action="/register" method="post">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
            <label for="Email">Email: </label>
            <input type="email" name="email" id="email">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
            <button type="submit">REGISTER</button>
            <a href="/login">Login</a>
        </form>

    </div>
</body>
</html>