.cart-container {
    margin: 3rem auto 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-container-cart {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.item-button-cart {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
}

.cart-container,
.btn-container-cart,
.cart-total-ctnr {
    width: 80%;
}

.cart-total-ctnr {
    margin: 1rem auto;
}

.cart-input {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
}

.coupon-ctnr {
    display: flex;
    gap: 1rem;
}

.coupon-ctnr button,
.cart-btn {
    padding: 0.4rem 0.7rem;
    /* border: 1px solid rgba(0, 0, 0, 0.7); */
    border: none;
    border-radius: 4px;
}

